<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/static/css/templates.css">
    <link rel="icon" href="/static/image/icon.jpg">
    
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Student Application</title>
</head>
<body class="stud">
  <div>
    <h4 class="playfair text-center mt-4" >Welcome To The Student Manager Application</h4>
    <div class="container mt-3 text-center hars">
      <div class="row">
      
            <div class="position-relative">
              <div class="position-absolute top-0 end-0">
                <form action="/logout">
                <button type="submit" class="btn btn-info">Logout</button>
              </form>
            </div>
            
          
            
        </div>
      </div>
    </div>
    <div class="container mt-5">
        <div class="row mr-2">
            <div class="col-md-3 m-3">
              <div class="card">
                <div class="card-header">
                  Student Registration 
                </div>
                <form action="/" method="post">
                  
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><input required class="form-control" type="text" name="Name" placeholder="Enter Your Name"></li>
                  <li class="list-group-item"><input required class="form-control" type="text" name="Age" id="" placeholder="Enter Your Age"></li>
                  <li class="list-group-item"><select required class="form-select" aria-label="Default select example" name="Course">
                    <option  value="None">Enter The Course</option>
                    <option value="Python">Python </option>
                    <option value="Java">Java</option>
                    <option value="C and C++">C and C++</option>
                    <option value="HTML">HTML</option> 
                  </select></li>
                  <li class="list-group-item"><input required class="form-control" type="text" name="Duration" placeholder="Enter The Duration ">  </li>
                 
                  <input class="btn btn-primary mx-3" type="submit" value="Submit">
              
              </ul>
                
              </div>
            </form> 
                  
            </div>
            <div class="col m-3">
              <table class="table table-success table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">S.NO</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Course</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {%for std in  students%}
                  <tr>
                     <td>{{std.sno}}</td>
                     <td>{{std.Name}}</td>
                     <td>{{std.age}}</td>
                     <td>{{std.course}}</td>
                     <td>{{std.course_Duration}}</td> 
                     <td><button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal{{std.sno}}" class="btn btn-warning"><i class="bi bi-vector-pen"></i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-vector-pen" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                      <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"/>
                    </svg></button>
                    <div class="modal fade" id="exampleModal{{std.sno}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content text-center">
                          <div class="">
                            <div class="row">
                              <div class="col"></div>
                              <div class="col"> <h1 class="modal-title fs-5 mt-3 " id="exampleModalLabel" >Update Student</h1></div>
                              <div class="col pt-4"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                            </div>
                           
                            <!--  -->
                          </div>
                          <div class="modal-body">
                            <form action="/update/{{std.sno}}" method="post">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item"><input required class="form-control" type="text" name="Name" id="{{std.sno}}" value="{{std.Name}}" placeholder="Enter Your Name"></li>
                                <li class="list-group-item"><input required class="form-control" type="text" name="Age" id="{{std.sno}}" value="{{std.age}}" placeholder="Enter Your Age"></li>
                                <li class="list-group-item"><select  required class="form-select" aria-label="Default select example" id="{{std.sno}}"  name="Course">
                                  <option value="{{std.course}}">{{std.course}}</option>
                                  <option value="Python">Python </option>
                                  <option value="Java">Java</option>
                                  <option value="C and C++">C and C++</option>
                                  <option value="HTML">HTML</option> 
                                </select></li>
                                <li class="list-group-item"><input required class="form-control" type="text" name="Duration" id="{{std.sno}}" value="{{std.course_Duration}}" placeholder="Enter The Duration of course ">  </li>
                            </ul>
                           </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            </form>

                          </div>
                        </div>
                      </div>
                    </div> 
                    
                    <a href="delete/{{std.sno}}" type="button" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a></td>
                     <!-- <td><button><i class="fa-light fa-trash-can"></i></button></td> -->
                     
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
              
            </div>
        </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/69feb3049d.js" crossorigin="anonymous"></script>
    
  </body>

</html>